<link rel="stylesheet" href="../../components/header/header.css" />

<header id="main-header">
  <button id="sidebar_btn">
    <i class="ti ti-menu-deep"></i>
  </button>
  <div>
    <input type="text" id="search" placeholder="Pesquisar" />
    <div id="results-case">
      <ul id="search-results">
        <li class="skeleton">
          <span></span>
          <h2></h2>
        </li>
      </ul>
    </div>
  </div>
</header>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"
/>

<script type="module" src="../../components/header/scripts/script.js"></script>
<script
  type="module"
  src="../../components/header/scripts/feedSearch.js"
></script>
