<link rel="stylesheet" href="../../components/header/header.css" />

<header id="main-header">
  <button id="sidebar_btn">
    <i class="ti ti-menu-deep"></i>
  </button>
  <div>
    <input type="text" id="search" placeholder="Pesquisar" />
  </div>
</header>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"
/>
<script type="module" src="../../components/header/script.js"></script>
