.header-shadow {
  transform: translateY(0) !important;
}

#main-header {
  background-color: var(--primary) ;
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  opacity: 1 !important;
  padding: 2rem 1.5rem;

  & i {
    font-size: 2.4rem;
    right: 0;
    cursor: pointer;
  }

  & button {
    border: none;
    border-radius: 16px;
    background-color: var(--secondary);
    display: none;
    cursor: pointer;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);

    & i {
      margin: 0 auto;
    }
  }
}

#main-header div {
  background-color: var(--secondary);
  border-radius: 1.6rem;
  max-width: 70rem;
  margin: 0 auto;
  flex: 1 1 0;
  height: 4.5rem !important;
  border: 2px solid #8390d266 !important;

  & #search {
    width: 60%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    text-indent: 10px;
    font-size: 1.6rem;
    opacity: 0.8;
    font-weight: 500;

    &::placeholder {
      color: var(--text);
    }
  }
}

#signIn {
  display: grid;
  place-content: center;
  & #google-icon {
    width: 3rem;
  }
}

@media (max-width: 820px) {
  #main-header {
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: start;
    position: fixed;
    z-index: 1;
    padding: 2rem 1.5rem;

    & i {
      font-size: 2.4rem;
      position: initial;
    }

    & div input {
      font-size: 1.4rem !important;
    }

    & #avatar {
      position: static;
    }

    & button {
      display: flex;
      position: initial;
      height: 45px;
      width: 50px;
      transform: rotateY(180deg);

      & i {
        font-size: 4rem;
      }
    }
  }
}


