<link rel="stylesheet" href="../../components/shoppingBag/style.css" />

<nav id="shopping-bag">
  <header>
    <i id="closeBag-btn" class="ph-bold ph-x"></i>
    <p>Sacola de compras</p>
  </header>
  <div id="bag-content">
    <ul id="bagList-itens">
      <!-- <li class="item">
        <div class="img">
          <img src="../../pages/paymentPage/assets/book.svg" alt="" />
        </div>
        <div class="book-info">
          <p class="title">
            O Senhor dos Anéis: Volume Único - Capa Os Anéis de Poder
          </p>
          <p class="author">
            por J.R.R. Tolkien (Autor), Ronald Kyrmse (Tradutor)
          </p>
          <span>
            <p class="price">R$ 43,00</p>
            <input type="checkbox" name="" class="checked" />
          </span>
        </div>
      </li>
      <li class="item">
        <div class="img">
          <img src="../../pages/paymentPage/assets/book.svg" alt="" />
        </div>
        <div class="book-info">
          <p class="title">aleatorio</p>
          <p class="author">
            por J.R.R. Tolkien (Autor), Ronald Kyrmse (Tradutor)
          </p>
          <span>
            <p class="price">R$ 43,00</p>
            <input type="checkbox" name="" class="checked" />
          </span>
        </div>
      </li> -->
    </ul>
  </div>
  <footer>
    <span>
      <span id="select-all">
        <input type="checkbox" name="" class="mark-all" />
        <p>Tudo</p>
      </span>
      <p id="price">R$ 0,00</p>
    </span>
    <button>
      <p>Continuar</p>
    </button>
  </footer>
</nav>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="module" src="../../components/shoppingBag/script.js"></script>
