<link rel="stylesheet" href="../../components/shoppingBag/style.css" />

<nav id="shopping-bag">
  <header>
    <i id="closeBag-btn" class="ph-bold ph-x"></i>
    <p>Sacola de compras</p>
  </header>
  <div id="bag-content">
    <%- include('../pageLoader/index') %>
    <ul id="bagList-itens"></ul>
  </div>
  <footer>
    <span>
      <span id="select-all">
        <input type="checkbox" name="" class="mark-all" />
        <p>Tudo</p>
      </span>
      <p id="price">R$ 0,00</p>
    </span>
    <button id="init-order-btn">
      <p>Continuar</p>
    </button>
  </footer>
</nav>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="module" src="../../components/shoppingBag/script.js"></script>
