<link rel="stylesheet" href="../../components/favorite/style.css" />

<nav id="favorite">
  <header>
    <i id="closeBag-btn" class="ph-bold ph-x"></i>
    <p>Favoritos</p>
  </header>
  <div id="favorite-content">
    <ul id="itens">
      <li class="item">
        <div class="img">
          <img src="../../pages/paymentPage/assets/book.svg" alt="" />
        </div>
        <div class="book-info">
          <p class="title">
            O Senhor dos Anéis: Volume Único - Capa Os Anéis de Poder
          </p>
          <p class="author">
            por J.R.R. Tolkien (Autor), Ronald Kyrmse (Tradutor)
          </p>
          <span>
            <p class="price">R$ 43,00</p>
            <button class="add-to-bag">
              <i class="ph-bold ph-bag"></i>
            </button>
          </span>
        </div>
      </li>
    </ul>
  </div>
</nav>

<script type="module" src="../../components/favorite/script.js"></script>
