<!DOCTYPE html>
<html lang="en" id="html">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css"
      async
    />

    <link rel="stylesheet" href="../../pages/login/style.css" />
  </head>
  <body>
    <main>
      <div class="login--container">
        <div class="login--logo">
          <img src="../pages/login/images/mybook_logo.svg" alt="" />
        </div>

        <div class="login--form--back">
          <div class="login--panel">
            <div class="login--form--header">
              <span class="login--icon">
                <h1>Faça seu login</h1>
                <h2>Insira seus dados para entrar</h2>
              </span>
            </div>

            <div class="login--form--main">
              <form>
                <div class="input--list">
                  <div class="input--style">
                    <p>E-mail</p>

                    <div class="input--icons">
                      <i class="ti ti-mail"></i>
                      <input
                        id="email"
                        type="email"
                        placeholder="Digite seu e-mail"
                        autocomplete="email"
                        class="input"
                        required
                      />
                    </div>
                  </div>

                  <div class="input--style">
                    <p>Senha</p>
                    <div class="input--icons">
                      <i class="ti ti-lock"></i>

                      <input
                        type="password"
                        placeholder="Digite sua senha"
                        class="input"
                        autocomplete="current-password"
                        id="password"
                        required
                      />

                      <i id="viewPassword" class="ti ti-eye"></i>
                    </div>
                  </div>
                </div>

                <div class="remember-lost">
                  <a href="#">Esqueci minha senha</a>
                </div>

                <button type="submit">
                  <p>Entrar</p>
                  <%- include('../../components/loader/loader') %>
                </button>

                <button id="googleSignInBtn">
                  <img
                    src="https://img.freepik.com/icones-gratis/procurar_318-265146.jpg?t=st=1692287052~exp=1692287652~hmac=a00a40249b41bf86c684fa48ba1c6b5c407fe353e9c3639cbd5cd30ef99b3ecd"
                    alt=""
                  />
                  <p>Entrar com o Google</p>
                  <%- include('../../components/googleLoader/loader') %>
                </button>

                <div class="register">
                  <p>Não tem uma conta?</p>
                  <p><a href="/register">Registre-se.</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../../pages/login/script.js"></script>
  </body>
</html>
