<link rel="stylesheet" href="../../components/commentModal/style.css">

<footer id="comment-modal-case">
  <div id="comment-modal">
    <header>
      <p id="close-modal">Fechar</p>
    </header>
    <span id="message">
      <i class="ti ti-mood-confuzed-filled"></i>
      <p>Ainda não há comentarios</p>
    </span>
    <ul id="comments"></ul>
    <div id="input-box">
      <input type="text" placeholder="Comente algo" />
      <button id="create-post">
        <i class="ph-fill ph-paper-plane-right"></i>
      </button>
    </div>
  </div>
</footer>
