<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../../global/global.css" />

    <title>Checkout</title>
  </head>
  <style>
   
  </style>
  <body>
    <h1>Stripe checkout test</h1>
    <button>Clique</button>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../pages/orderTest/script.js" type="module"></script>
  </body>
</html>
